.vscode/
.DS_Store
*cache
*.log
*.pid
*.lck
bin/
build/
archive/
*.zip
*.tar.gz
pcb/*backups/
pico-hd-mcu/bundle.js

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/captures
.externalNativeBuild
.cxx
local.properties

android-app/